__pycache__/
*.py[cod]
.DS_Store
.codex
/.codex/

EuroSAT_RGB/
outputs_validation/

report/*.aux
report/*.log
report/*.out
report/*.synctex.gz

outputs/**
!outputs/improved_aug48_momentum_v2_60ep/
outputs/improved_aug48_momentum_v2_60ep/**
!outputs/improved_aug48_momentum_v2_60ep/plots/
!outputs/improved_aug48_momentum_v2_60ep/plots/first_layer_weights.png
!outputs/improved_aug48_momentum_v2_60ep/plots/training_curves.png
!outputs/improved_aug48_momentum_v2_60ep_test/
outputs/improved_aug48_momentum_v2_60ep_test/**
!outputs/improved_aug48_momentum_v2_60ep_test/metrics.json
!outputs/improved_aug48_momentum_v2_60ep_test/plots/
!outputs/improved_aug48_momentum_v2_60ep_test/plots/confusion_matrix.png
!outputs/improved_aug48_momentum_v2_60ep_test/plots/misclassified_examples.png
